nodeLinker: node-modules
npmScopes:
  dcefront:
    npmRegistryServer: 'https://pkgs.dev.azure.com/devopsdc-1/a4ba58b4-b78e-4a80-8a19-597b84b9e314/_packaging/dcefront/npm/registry/'
    npmAuthToken: 'M0M0cG5qeXZ1M1czbW5yYlVrNHlaV0gydUZIWnIxMnE3QWNpRzNaZkF3V0tNS0syZmhyb0pRUUo5OUFMQUNBQUFBQXZHbmMxQUFBU0FaRE9UUnd6'